{:kotoba.app/id "cloud.itonami.isic-2593", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaxtib6z2lgvbv7ct6muungpiipwb42bbfyyfalnxuk7s67kmatoi", :kotoba.app/embed-url "ipfs://bafkreiaxtib6z2lgvbv7ct6muungpiipwb42bbfyyfalnxuk7s67kmatoi", :published {:archive "https://kotobase.net/ipfs/bafkreiaxtib6z2lgvbv7ct6muungpiipwb42bbfyyfalnxuk7s67kmatoi", :size 73321, :put-status 201, :get-status 200, :at "2026-08-15T13:38:21.609Z"}}
